@import url("https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$backgroundColor: #7f347f;
$darkViolet: rgb(87, 8, 133);
$lightViolet: rgb(166, 80, 216);
$greenColor: #41ff8a;
$greyColor: #2d343e;

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Muli", sans-serif;
}

a {
  font-weight: 700;
  text-decoration-line: underline;
}

.title {
  font-size: 25px;
  font-weight: 700;
}


.description {
  font-size: 18px;
  font-weight: 200;
}

.input__submit {
  position: relative;
  width: 250px;
  height: 50px;
  border: none;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  background-color: $darkViolet;
  border-radius: 20px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  overflow: hidden;
  cursor: pointer;
}


input {
  width: 300px;
  height: 30px;
  padding-left: 5px;
  background-color: rgb(245, 231, 242);
  border: none;
  border-radius: 5px;
  color: black;
  display: block;
}

input:disabled { filter: blur(3px); }


.button {
  position: relative;
  width: 250px;
  height: 50px;
  border: none;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  background-color: $darkViolet;
  border-radius: 20px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  overflow: hidden;
  cursor: pointer;
}

.button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.container__icon {
  display: flex;
  margin: 0 auto;
  align-items: flex-start;
  background-color: white;
  height: 30%;
  border-radius: 0 0 12em 12em;
}

.error_message {
  display: flex;
  justify-content: center;
  height: 10px;
  p {
    font-size: 10;
    color: red;
  }
}

// @media only screen 
// and (min-device-width : 320px) 
// and (max-device-width : 568px) {
   
// }