.chat {
    width: 100%;
    height: 100vh;
    display: flex;

    .chat__left {
        flex: 1;
        display: flex;
        flex-direction: column;
        // background-color: yellow;

        .chat__left__item {
            margin-top: 10px;
            width: 90%;
            background-color: gray;
            height: 60px;
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .chat__left__item.active {
            background-color: red;
        }

        .chat__left__item.add {
            height: 100px;
            display: flex;
            flex-direction: row;

            .add__find {
                display: flex;
                flex-direction: column;

                input {
                    background-color: #404450;
                    border: none;
                    height: 30px;
                    padding-left: 1rem;
                    border-radius: 5px;
                    margin-bottom: 10px;
                    &:focus {
                        outline: none;
                    }
                }

                button {
                    font-size: 1rem;
                    // margin: 0.5rem;
                    padding: 0.5rem;

                    border: none;
                    background-color: #41ff8a;
                    border-radius: 15px;

                    color: black;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .chat__right {
        flex: 4;
        width: 95%;
        .chat__right__messages {
            display: flex;
            overflow-y: auto;
            align-content: flex-start;
            flex-direction: column;
            margin-top: 20px;
            width: 95%;
            height: 80%;
            background-color: pink;

            .chat__right__messages__message {
                padding-left: 0.5rem;
                max-width: 220px;
                margin-left: 0px;
                p {
                    color: #b4b6be;
                    font-size: 1rem;
                    font-weight: 300;
                    background-color: #250202;
                    border-radius: 0px 10px 10px 10px;
                    padding: 1rem;
                }

                span {
                    color: #b4b6be;
                    font-size: 0.6rem;
                    padding-left: 0.5rem;
                    font-weight: 200;
                }
            }

            .chat__right__messages__message.mess-right {
                display: flex;
                margin-left: auto;
                flex-direction: column;
                padding-right: 0.5rem;
                margin-right: 0px;
                max-width: 220px;
                p {
                    background-color: red;
                    text-align: end;
                    color: white;
                    border-radius: 10px 0px 10px 10px;
                }
                span {
                    padding-left: 0rem;
                    width: 100%;
                    padding-right: 0.5rem;
                    text-align: end;
                }
            }
        }

        .chat__right__inputMsg {
            margin-top: 20px;
            width: 85%;
            display: flex;
            height: 40px;
            justify-content: space-around;

            input {
                width: 90%;
                border-radius: 10px;
                background-color: gray;
            }
            button {
                width: 40px;
            }
        }
    }
}
