.chat {
    width: 100%;
    height: 100vh;
    background-color: rgb(224, 221, 221); 

    .chat__header {
        height: 9vh;
        border-bottom-right-radius: 40px;
        border-bottom-left-radius:  40px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0 0;
        background-color: rgb(176, 109, 182);
        
        .chat__header__image {
            display: flex;
            justify-content: center;
        }

        * {
            margin: 0 0;
            display: flex;
            align-items: center;
        }

    }

    .chat__content {
        background-color: rgb(224, 221, 221); 
                height: 85vh;
        overflow: auto;
        padding-bottom: 30px;

        .chat__content__message {
            padding-left: 0.5rem;
            max-width: 300px;
            margin: 0 0;
            margin-top: 10px;

            p {
                margin: 0 0;
                color: #b4b6be;
                font-size: 1rem;
                font-weight: 300;
                background-color: rgb(176, 106, 57);

                border-radius: 0px 10px 10px 10px;
                padding: 1rem;
            }
        }

        .message_right {
            display: flex;
            flex-direction: column;
            padding-right: 0.5rem;
            max-width: 300px;
            margin: 0 0;
            margin-left: auto;
            margin-top: 10px;

            p {    
                margin: 0 0;   
                background-color: rgba(67, 60, 191, 0.503);
                text-align: end;
                color: black;
                border-radius: 10px 0px 10px 10px;
            }
        }
    }

    .chat__input {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 7vh;
        background-color: gray;

        * {
            margin: 0 0;

        }

        input {
            width: 60vw;
            padding: 5px;
            height: 40px;
        }
    }
}