.inputWindow {
    width: 350px;
    height: 400px;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 15px;
    input {
        height: 40px;
        width: 95%;
        background-color: #404450;
        border: none;
        padding-left: 1rem;
        border-radius: 5px;
        &:focus {
            outline: none;
        }
    }

    .inputWindow__buttons {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .inputWindow__buttons__login {
            flex-direction: row;
        }
        button {
            font-size: 0.7rem;
            margin: 0.5rem;
            padding: 0.5rem;
            width: 120px;
            border: none;
            background-color: #41ff8a;
            border-radius: 5px;

            color: black;
            &:hover {
                cursor: pointer;
            }
        }
    }
}
