.messages {
   
    .messages__content {
        padding-bottom: 10vh;
        background-color: rgb(224, 221, 221);

        overflow: auto;

        .messages_item {
            display: flex;
            flex-direction: row;
            height: 120px;
            border-top: 1px solid black;
            margin: 0 0;
            margin-top: 10px;

            .messages_item__img {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20%;
            }

            .messages_item__text {
                margin-top: 20px;
                width: 90%;

                padding: 5px;
                display: block;
                display: -webkit-box;
                font-size: 20px;
                -webkit-line-clamp: 3; /* количество строк */
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;

                h2 {
                    color: black
                }

                p {
                    color: gray;
                }
            }
        }

        .messages__content_without_msg {
            font-size: 20px;
            color: black;
            margin-top: 40px;
        }
    }
}

